/*
    GRID sirve para ordenar el contenido como si fuera una tabla, con la diferencia que en esta ultima el tamaño de celdas, filas y columnas lo determina el contenido, mientras que con grid es completamente flexible.
    
    grid-column: comienzo/fin;      DEFINE CUANTAS COLUMNAS QUIERO QUE UTILICE CADA ELEMENTO
                grid-column-start: comienzo;
                grid-column-end: fin;
    grid-row: comienzo/fin;      DEFINE CUANTAS FILAS QUIERO QUE UTILICE CADA ELEMENTO
                grid-row-start: comienzo;
                grid-row-end: fin;
*/

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 51, 69);
    color: rgb(122, 226, 240);
    font-family: 'Courier New', Courier, monospace
}

.conteiner {
    padding: 20px;
    background-color: rgb(42, 54, 90);
    color: rgb(28, 51, 69);
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px 200px;   
    place-content: center center;
    gap: 10px;
    font-weight: 900;
    border-radius: 20px;
}

p{
    width: 70vw;
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.box-1 {
    background-color: rosybrown;
    /* grid-column: 2/3; */
    /* grid-column-start: 2;
    grid-column-end: 3; */
    grid-row: 1/3;
    /* grid-row: 1/ span 2; EL SPAN LO QUE HACE ES DECIRLE QUE ARRANQUE EN LA LINEA 1 Y QUE OCUPE 2 FILAS, NOS AHORRAMOS EL TENER QUE CONTAR LAS LINEAS */
}

.box-2 {
    background-color: royalblue;
}

.box-3 {
    background-color: lightsalmon;
}

.box-4 {
    background-color: rgb(214, 191, 191);
    grid-column: 2/4;
}

.box-5 {
    background-color: rgb(61, 189, 189);
}

.box-6 {
    background-color: rgb(211, 29, 29);
}