/*
    SI QUEREMOS QUE NUESTROS ESTILOS SE APLIQUEN EN CADA NAVEGADOR TENEMOS QUE ESPECIFICARLO EN EL CSS, PARA QUE SEA MAS COMODO Y NO TENES QUE APRENDERLO DE MEMORIA TENEMOS HERRAMIENTAS COMO LA SIGUIENTE PAGINA, QUE NOS ADECUA EL CODIGO CSS NUESTRO PARA QUE SE PUEDA APLICAR EN TODOS LOS NAVEGADORES MAS UTILIZADOS COMO OPERA (-O-), MOZZILLA (-MOZ-), MICROSOFT (-MS-) Y CHROME (-WEBKIT-). 

    https://autoprefixer.github.io/
*/

body {
    background-color: #333;
    color: #fff;
}