/*
    Cuando usamos display:flex; por defecto nos va a poner los elementos hijos de manera horizontal, si nosotros queremos volver a ponerlos verticales, tendremos que invertir el main axis con el cross axis, y usaremos la regla flex-direction:column;

margin
            -left: auto     lleva el contenedor, junto con los elementos que siguen, hacia la esquina derecha
            -right: auto        lleva el contenedor, junto con los elementos que siguen, hacia la esquina izquierda
            -top: auto      lleva el contenedor, junto con los elementos que siguen, hacia la esquina inferior
            -bottom: auto       lleva el contenedor, junto con los elementos que siguen, hacia la esquina superior
            : auto      Centra el contenido
        Uso mas comun de esto en los menu's: https://github.com/rr69sport/flexbox-navs
*/

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(28, 51, 69);
    color: rgb(122, 226, 240);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 900;
}

.main-nav {
    background-color: rgb(189, 61, 189);
    height: 50px;
    margin-top: 10px;
}

.box {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.menu__item{
    text-decoration: none;
    margin-right: 5px;

}

.menu__link{
    color: antiquewhite;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    margin-top: 15px;    
}
.to-left {
    margin-right: auto;
}
.to-right {
    margin-left: auto;
}
.centered {
    margin-right: auto;
    margin-left: auto;
}